$color-primary-1: #1C2935;
$color-primary-2: #0F1821;
$color-primary-3: #04080B;

$color-secondary-1: #cfd4da;
$color-secondary-2: #97999b;

$color-enphasis-1: #FF8888;
$color-enphasis-2: #FF4444;
$color-enphasis-3: #EE1111;