$color-primary-1: #1C2935;
$color-primary-2: #0F1821;
$color-primary-3: #04080B;

$color-secondary-1: #fff;
$color-secondary-2: #f0f0f0;
$color-secondary-3: #e0e0e0;

$color-enphasis-1: #FF8888;
$color-enphasis-2: #FF4444;
$color-enphasis-3: #EE1111;

$border: 1px solid $color-primary-3;
$border-focused: 2px solid $color-enphasis-1;