@import '../config/variables';
.button {
  background: $color-enphasis-3;
  font-size: 1.125rem;
  font-weight: 700;
  color: $color-secondary-1;
  padding: 1rem 2rem;
  width: 100%;
  border-radius: .3rem;
  border: $border-focused;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 1rem;
  &:hover {
    background: $color-enphasis-2;
  }
  &:active {
    background: $color-enphasis-1;
  }
}