@import "../config/variables";

@keyframes animateToRight {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.container {
  min-height: calc(100vh - 68px);
  margin: 0 auto;
  width: 25rem;
  .form {
    margin-bottom: 1rem;
    padding: 2rem;
    border: $border;
    border-radius: 0.3rem;
    width: 100%;
    opacity: 0;
    transform: translateX(-10rem);
    animation: animateToRight 0.7s forwards;
    & > svg {
      margin-bottom: 2rem;
    }
    .passwordVisibilityContainer {
      position: relative;
      width: 100%;
      svg {
        width: 1.2rem;
        position: absolute;
        top: 1.9rem;
        right: 1rem;
        color: $color-secondary-3;
        cursor: pointer;
      }
    }
    .inputBlock {
      position: relative;
      width: 100%;
      margin: 1rem 0;
      & + .inputBlock {
        margin-top: 2rem;
      }
      label {
        position: absolute;
        bottom: 1.1rem;
        left: 1rem;
        cursor: text;
        font-size: 1rem;
        color: $color-secondary-3;
        transition: 0.2s;
      }
      input {
        background: $color-primary-1;
        border: $border;
        border-radius: 0.3rem;
        color: $color-secondary-3;
        padding: 1rem 0.8rem;
        width: 100%;
        transition: 0.2s;
        &:focus {
          border: $border-focused;
        }
        & + .onTopLabel {
          bottom: 2.9rem;
          background: $color-primary-1;
          left: 1rem;
          padding: 0 0.5rem;
          font-size: 0.9rem;
          font-weight: 700;
        }
      }
    }
    .error {
      color: #ff3a3a;
      margin: .5rem 0 2rem 1rem;
    }
  }
  .formBottom {
    width: 100%;
    border: $border;
    border-radius: 0.3rem;
    padding: 1rem;
    text-align: center;
    color: $color-secondary-3;
    .signLink {
      cursor: pointer;
      color: $color-enphasis-1;
      font-weight: 700;
      transition: 0.2s;
      margin-left: 0.4rem;
      &:hover {
        color: $color-enphasis-2;
      }
    }
  }
}
