@import '../config/variables';

.searchbar {
  background: $color-primary-1;
  border: $border;
  padding: 0.5rem 2rem;
  outline: none;
  color: $color-secondary-1;
  transition: 0.2s ease;
  &:focus {
    border: $border-focused;
  }
  &::placeholder {
    text-align: center;
  }
}