@import 'config/variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

a {
  text-decoration: none;
}

body {
  background: $color-primary-1;
}

h1 {
  font-family: sans-serif;
  color: #FF4656;
}

h2, h3, h4, p, input, label, button, span, a, li {
  font-family: 'Poppins', sans-serif;
}

.icon {
  color: $color-secondary-1;
}

// Flex
.flex {
  display: flex;
}

.mainCenter {
  justify-content: center;
}

.column {
  flex-direction: column;
}

.crossCenter {
  align-items: center;
}

.mainStart {
  justify-content: flex-start;
}

.crossStart {
  align-items: flex-start;
}

.crossEnd {
  align-items: flex-end;
}

.spaceBetween {
  justify-content: space-between;
}